.tile{
    display: grid;
    place-content: center;
    width: 62.5px;
    height: 62.5px;
}

.tile .chess-piece {
    width: 62.5px;
    height: 62.5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
}

.tile .chess-piece:hover{
    cursor: grab;
}

.tile .chess-piece:active{
    cursor: grabbing;
}

.black-tile{
    background-color: #4E6E5D;
}

.white-tile{
    background-color: #DDD78D;
}

.tile-highlight:not(.chess-piece-tile)::before{
    content: ' ';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .4);
}

.tile-highlight.chess-piece-tile::before{
    position: absolute;
    content: ' ';
    width: 57.5px;
    height: 57.5px;
    border: 3px solid rgba(0, 0, 0, .4);
    border-radius: 50%;
}